$bg-color: #2E3035;
$text-color: #FFF;
$fg-color: #36393F;

$accent-color: #31B276;

$base-font: 'Inconsolata', monospace;
$title-font: 'Inconsolata', monospace;

// $title-color: #9dd1f9;
$title-color: $accent-color;
$title-weight: bold;

$link-color: #4183C4;